<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrd.settlementservice.settlement.mapper.SettlementMapper">
    
    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.zrd.settlementservice.settlement.vo.SettlementQueryVo">
		<id column="id" property="id"/>
		<result column="order_id" property="orderId"/>
		<result column="transaction_id" property="transactionId"/>
		<result column="amount" property="amount"/>
		<result column="status" property="status"/>
		<result column="date" property="date"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, order_id, transaction_id, amount, status, date
    </sql>

    <!-- 根据主键获取  对象 -->
    <select id="getSettlementById" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from t_settlement where id = #{id}
    </select>

    <!-- 查询  对象集合 -->
    <select id="getSettlementList" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from t_settlement
    </select>

</mapper>
