<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrd.rewardservice.reward.mapper.RewardMapper">
    
    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.zrd.rewardservice.reward.vo.RewardQueryVo">
		<id column="id" property="id"/>
		<result column="order_id" property="orderId"/>
		<result column="amount" property="amount"/>
		<result column="status" property="status"/>
		<result column="date" property="date"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, order_id, amount, status, date
    </sql>

    <!-- 根据主键获取  对象 -->
    <select id="getRewardById" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from t_reward where id = #{id}
    </select>

    <!-- 查询  对象集合 -->
    <select id="getRewardList" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from t_reward
    </select>

</mapper>
