<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrd.orderservice.orderdetail.mapper.OrderDetailMapper">
    
    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.zrd.orderservice.orderdetail.vo.OrderDetailQueryVo">
		<id column="id" property="id"/>
		<result column="account_id" property="accountId"/>
		<result column="product_id" property="productId"/>
		<result column="deliveryman_id" property="deliverymanId"/>
		<result column="order_status" property="orderStatus"/>
		<result column="order_address" property="orderAddress"/>
		<result column="order_price" property="orderPrice"/>
		<result column="date" property="date"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="base_Column_List">
        id, account_id, product_id, deliveryman_id, order_status, order_address, order_price, date
    </sql>

    <!-- 根据主键获取 订单 对象 -->
    <select id="getOrderDetailById" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from t_order_detail where id = #{id}
    </select>

    <!-- 查询 订单 对象集合 -->
    <select id="getOrderDetailList" resultMap="baseResultMap">
        select
        <include refid="base_Column_List"/>
        from t_order_detail
    </select>

</mapper>
